// Color Variables
$primary-color: #bf1e2e;
$secondary-color: #2d2d2d;
$text-color: #000000;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$body-color: #faf7f3;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$link-color: #fab73c;

// Font Variables
$primary-font: "Poppins", sans-serif;
$secondary-font: "futura-bold";
$icon-font: "themify";
